.count{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
}
.count1{
    text-align: center;
    line-height: 5px;
    padding: 0px 100px;
}
.count1 img{
    width: 30%;

}

.inn{
    display: flex;
    justify-content: center;
}
.c{
    padding-top: 15%;
}
@media (max-width:768px){
    .count{
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    .count1{
        padding: 0px 20px;
    }
}